.not-found-body {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .not-found-title {
    color: #ffffff;
    font-size: 35px;
  }

  .main-form-button {
    width: 300px;
    height: 40px;
  }
}
